/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul{
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
color: inherit;
text-decoration: none;
}

/*/ change colours to suit your needs /*/
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/*/ change colours to suit your needs /*/
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs
*/
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

 .clearfix::after{
  content: "";
  display: block;
  clear: both;
}
* {
	font-family: 'HiraKakuPro-W6';
	color:#222222;
}

header, footer {
	width: 100%;
	height: 200px;
	background-color: #CCFFCC;
}
.header-box {
	width: 80%;
	height: 90px;
	margin: 0 auto;
}
.logo {
	width: 25%;
	height: 90px;
	background-image: url("/images/choice.png");
	background-position: center;
	background-size: cover;
	float: left;
	margin-left: 39%;
}
nav {
	height: 90px;
}
ul {
	height: 90px;
	line-height: 90px;
	font-size: 15px;
	width: 40%;
	margin: 0 auto;
}
li {
	float: right;
	padding-right:12%;
}
a:hover {
	color: #008800;
	text-decoration: none;
}
.main-content {
	width: 60%;
	margin: 0 auto;
	padding-top: 50px;
}
.main-content-vote {
	width: 40%;
	margin: 0 auto;
	padding-top: 50px;
}

.dinner-message {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	border-bottom: inset 7px #c0c0c0;
	border-radius: 0.4em;
	text-align: center;
}

.fa-utensils, .make-dinner-message, .make-url-title {
	font-size: 26px;
	text-align: center;
}
.make-dinner-form {
	padding-top: 40px;
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.dinner-name, .dinner-date, .dinner-genre, .dinner-memo, .dinner-area, .dinner-budget {
	font-size: 20px;
	margin: 7px;
}
input, textarea, .make-url-message {
	font-family: 'MS PGothic';
}
.choice-summary {
	font-family:PixelMplus12;
	padding: 10px 0 10px 0;
	font-size:14px;
	color: #555555;
}
.dinner-left-up, .dinner-right-down {
	float: left;
}
.dinner-left-up, .dinner-dight-down {
	margin:0px 77px 0px 0;
}

.dinner-genre-form, .dinner-name-form {
	width: 300px;
}
.dinner-date-form, .dinner-memo-form {
	width: 400px;
	height: 155px;
}
.dinner-genre, .dinner-area,.dinner-budget {
	float: left;
	padding-top: 20px;
    padding-bottom: 15px;
}
.dinner-memo {
	padding-top: 32px;
}
.dinner-form-button {
    position: relative;
    left: 10%;
}
.dinner-form-button {
	/*margin: 0 auto;*/
	margin: 50px 50px 80px 50px;
	width: 70%;
}
#history {
	background-color: #eeeeee;
}
.history-content, .about-content {
	width: 57%;
	margin: 0 auto;
	padding-top: 50px;
}
.history-title, .about-choice {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: inset 4px #c0c0c0;
	border-radius: 0.4em;
	text-align: center;
}
.history-title-name {
	font-size: 23px;
}
.history-card-box {
	margin:30px 20px 20px 40px;
}
.history-detail {
	margin:0 auto;
}
.history-detail-message {
	font-family: 'MS PGothic';
	font-size: 17px;
	text-align: center;
	padding-top:50px ;
	padding-bottom: 50px;
}
.about-choice-title {
	font-size: 26px;
}
.about-choice-summary {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 18px;
	font-family: 'MS PGothic';
}
.choice-strong-point {
	text-align: center;
	font-size: 22px;
}
.choice-strong-img {
	background-image: url(/images/strong.png);
	width: 105%;
	height: 400px;
	background-position: center;
	background-size: cover;
	margin-bottom: 100px;
}
#header-content {
	width: 60%;
	margin: 0 auto;
}
.logo-2 {
	width: 25%;
	height: 90px;
	background-image: url("/images/choice.png");
	background-position: center;
	background-size: cover;
	float: left;
	margin-left: 39%;
	margin-top: 50px;
}

.copyright {
	padding-top: 170px;
	float: right;
	font-family: 'MS PGothic';
	font-size: 13px;
}
.dinner-generate-message {
	margin-top: 20px;
	margin-bottom: 20px;
	/*margin-left: 167px;*/
	width: 100%;
	border-bottom: inset 7px #c0c0c0;
	border-radius: 0.4em;
	text-align: center;
}
.make-url-message {
	margin-top: 20px;
	margin-bottom: 60px;
}
.new-event-url-input {
	width: 90%;
}
.vote-form {
	margin: 10px auto;
	background-color: #eeeeee;
	padding: 10px;
    border-radius: 10px;
}
.vote-attend, .vote-budget {
	margin:0 auto;
}
.attend-vote-btn {
	margin-left: 5%;
	margin-right: 5%;
	width: 100px;
}
.attend-vote-btn:active{
	background-color: red;
}
.dinner-title {
	margin-top: 20px;
	margin-bottom: 20px;
	/*margin-left: 167px;*/
	width: 100%;
	border-bottom: inset 7px #c0c0c0;
	border-radius: 0.4em;
}
.vote-name, .vote-budget {
	margin-top: 50px;
	margin-bottom: 50px;
}
.vote-budget {
	text-align: center;
}
.vote-budget-title {
	text-align: left;
}
.vote-name-form, .vote-btn, .area-box, .genre-box,.vote-budget-form  {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
#vote_budget_id {
	margin:0 auto;
	width: 80%;
    height: 40px;
}
.area-btn {
	margin: 20px;
}
.vote-decide-btn {
	border-radius: 50px;
	display: block;
	margin: 30px auto;
	background-color: white;
	color: black;
	width: 50%;
	}
.vote-decide-btn1 {
	border-radius: 50px;
	display: block;
	margin: 30px auto;
	background-color: white;
	color: black;
	width: 700px;
}
.detail {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	line-height: 25px;
}
.card-red {
	background-color: #FF69A3;

}
.memo-detail {
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#dinner_make_time_1i, #dinner_make_time_2i, #dinner_make_time_3i, #dinner_make_time_4i, #dinner_make_time_5i {
	height: 38px;
	border-color: #c0c0c0;
	background-color: white;
}
.cocoon-btn {
	margin-top: 5px;
	width: 89px;
}
.test, .dinner-name-form {
	margin-top: 5px;
}
.cocoon-btn1 {
	margin-top:18px;
	height: 37px;

}
.cocoon-btn2 {
	width: 89px;
}
.card-title {
	font-size: 18px;
}
.card-text {
	color: #444444;
	font-size: 14px;
}
.votes-name {
	color: #555555;
}
.signin-section {
	background-image: url(/images/yellowgreen.png);
	text-align:center;
	padding-bottom: 300px;
}
.signin-logo {
	margin-top: 100px;
	margin-bottom: 50px;
	width: 300px;
	height: 150px;
}
.signin-form {
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.signin-btn {
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.facebook-color {
	background-color: #305097;
}
.or {
	font-size: 12px;
	color: #808080;
}
.or2 {
	font-size: 15px;
	margin-top: 10px;
}





