<div class="nested-fields form-inline dinner-name-form">
	<%= f.text_field :genre_name, class: "form-control col-md-15 dinner-genre-form", placeholder: "例) 寿司, 焼肉, イタリアン..."  %>
	<%= link_to_remove_association "削除", f, class: "btn btn-outline-danger cocoon-btn2" %>
</div>